# Module 1: Data Preprocessing
The weather folder consists of the weather data at 15
different airports in the USA between 2016 and 2017. The flight data of all the flights that flew
inside the USA is provided. Merge these two data appropriately such that each record of the
flight should have the corresponding weather data available.

## 1. Imports

In [ ]:
!python -m pip install 'fsspec>=0.3.3'

import pandas as pd
import numpy as np
from dask import delayed
import dask.dataframe as dd
import os
import json
import matplotlib.pyplot as plt

Requirement already satisfied: fsspec>=0.3.3 in /usr/local/lib/python3.7/dist-packages (2021.5.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 2. Utilities

In [ ]:
basePath = "drive/MyDrive/Data"

airports = ["ATL", "CLT", "DEN", "DFW", "EWR", "IAH", "JFK", "LAS", "LAX", "MCO", "MIA", "ORD", "PHX", "SEA", "SFO"]

flightCols = ["Origin", "Dest", "FlightDate", "Quarter", "Year", "Month", "DayofMonth", "DepTime", "DepDel15", "CRSDepTime", "DepDelayMinutes", "OriginAirportID", "DestAirportID", "ArrTime", "CRSArrTime", "ArrDel15", "ArrDelayMinutes"]

weatherCols = ["Date", "Month", "Year", "Airport", "WindSpeedKmph", "WindDirDegree", "WeatherCode", "precipMM", "Visibility", "Pressure", "Cloudcover", "DewPointF", "WindGustKmph", "tempF", "WindChillF", "Humidity", "Time"]

weatherKeys = ["windspeedKmph", "winddirDegree", "weatherCode", "precipMM", "visibility", "pressure", "cloudcover", "DewPointF", "WindGustKmph", "tempF", "WindChillF", "humidity", "time"]

flightColsW = ["OriginWindSpeedKmph", "OriginWindDirDegree", "OriginWeatherCode", "OriginprecipMM", "OriginVisibility", "OriginPressure", "OriginCloudcover", "OriginDewPointF", "OriginWindGustKmph", "OrigintempF", "OriginWindChillF", "OriginHumidity", "OriginTime", "DestWindSpeedKmph", "DestWindDirDegree", "DestWeatherCode", "DestprecipMM", "DestVisibility", "DestPressure", "DestCloudcover", "DestDewPointF", "DestWindGustKmph", "DesttempF", "DestWindChillF", "DestHumidity", "DestTime"]

years = ['2016', '2017']

months = range(1, 13)

merge_right = ["Year", "Month", "Date", "Airport", "Time"]
merge_left_origin = ["Year", "Month", "DayofMonth", "Origin", "DepHour"]
merge_left_dest = ["Year", "Month", "DayofMonth", "Dest", "ArrHour"]

merge_drop = ["Date_Origin", "Airport_Origin", "Time_Origin", "Date_Dest", "Airport_Dest", "Time_Dest"]

In [ ]:
# To Extract hour from given time
def hour(x):
    if len(str(x)) > 2:
        return int(str(x)[-3::-1][::-1]+"00")
    return 100

# To convert given JSON to DF
def jsonToDF(weather, month, year, airport):
    temp = []
    for date in weather:
        for hour in date["hourly"]:
            row = [weather.index(date)+1, month, year, airport]
            for key in weatherKeys:
                row.append(hour[key])
            temp.append(row)
    return pd.DataFrame(temp, columns=weatherCols)

## 3. Reading Flight Data

In [ ]:
# Reading Flight Data (2 min)
flightDF = dd.read_csv(os.path.join(basePath, 'flight-data', '*', '*', '*.csv'), usecols=flightCols)
flightDF = flightDF.compute()

# Retaining only required airports
flightDF = flightDF[flightDF["Origin"].isin(airports)].dropna()
flightDF = flightDF[flightDF["Dest"].isin(airports)]

# Setting times to int
flightDF = flightDF.astype({'ArrTime': np.int64, 'DepTime': np.int64})

# Resetting indices
flightDF = flightDF.reset_index(drop=True)

# Calculating Time as hour alone
flightDF["DepHour"] = pd.Series([hour(x) for x in flightDF["DepTime"]])
flightDF["ArrHour"] = pd.Series([hour(x) for x in flightDF["ArrTime"]])


# Saving FlightDF
flightDF.to_csv(os.path.join(basePath, "flight-data", "FlightData.csv"), index=False) 

flightDF.shape

(1851436, 19)

In [ ]:
flightDF = pd.read_csv(os.path.join(basePath, "flight-data", "FlightData.csv"))
flightDF.head()

   Year  Quarter  Month  ...  ArrDel15 DepHour  ArrHour
0  2016        1      1  ...       0.0     700     1600
1  2016        1      1  ...       0.0     700     1600
2  2016        1      1  ...       0.0     700     1500
3  2016        1      1  ...       0.0     700     1500
4  2016        1      1  ...       0.0     700     1500

[5 rows x 19 columns]

## 4. Reading Weather Data

In [ ]:
# Reading Weather Data (5 min)
weatherList = []
for airport in airports:
    for year in years: 
        for month in months:
            # Path to each JSON fi
            path = os.path.join(basePath, "weather", airport+"/"+str(year)+"-"+str(month)+".json")
            with open(path) as json_file:
                weather = json.load(json_file)["data"]["weather"]
            # Append each DF into weatherList 
            weatherList.append(delayed(jsonToDF)(weather, month, year, airport).compute())

# Merging DFs into weatherDF
weatherDF = pd.concat(weatherList, ignore_index=True)
weatherDF["Time"] = [int(x) + 100 for x in weatherDF["Time"]]
weatherDF.to_csv(os.path.join(basePath, "weather", "WeatherData.csv"), index=False) # Saving data into weatherData.csv
weatherDF.shape

(263160, 17)

In [ ]:
weatherDF = pd.read_csv(os.path.join(basePath, "weather", "WeatherData.csv"))
weatherDF.head()

   Date  Month  Year Airport  ...  tempF  WindChillF  Humidity  Time
0     1      1  2016     ATL  ...     49          46        91   100
1     1      1  2016     ATL  ...     46          42        92   200
2     1      1  2016     ATL  ...     43          38        92   300
3     1      1  2016     ATL  ...     40          33        93   400
4     1      1  2016     ATL  ...     40          33        93   500

[5 rows x 17 columns]

## 5. Merging Flight and Weather Data

In [ ]:
# Adding flight origin weather details
data = flightDF.merge(weatherDF, left_on=merge_left_origin, right_on=merge_right)

# Adding flight destination weather details
data = data.merge(weatherDF, left_on=merge_left_dest, right_on=merge_right, suffixes=("_Origin", "_Dest"))

# Dropping redundant columns
data = data.drop(merge_drop, axis=1)

# Saving into Data.csv
data.to_csv(os.path.join(basePath, "dataset.csv"), index=False)
data.shape

(1851436, 43)

In [ ]:
data = pd.read_csv(os.path.join(basePath, "dataset.csv"))
data.head()

   Year  Quarter  Month  ...  tempF_Dest WindChillF_Dest  Humidity_Dest
0  2016        1      1  ...          42              33             74
1  2016        1      1  ...          42              33             74
2  2016        1      1  ...          42              33             74
3  2016        1      1  ...          42              33             74
4  2016        1      1  ...          42              33             74

[5 rows x 43 columns]